* {
  background-color: white;
}

.logo img {
  width: 45px;
  height: auto;
}

.navegacao {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0; 
flex-grow: 1;


  
}

.navegacao ul {
  display: flex; /* Garante que o pai seja flexível */
  gap: 5px; /* Adiciona espaçamento entre os itens */
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px; /* Espaçamento ajustado entre os itens */

}

.navegacao li {
 font-display: flex;
 color: black;

}
.navegacao a{
  color: black;


}

 .star {
  font-size: 20px;
  display: flex;
  flex-grow: 1;
  
}

main img {
  width: 150px; /* Ajuste o tamanho desejado */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem para preencher sem distorção */
  border-radius: 0px; /* Opcional: adiciona bordas arredondadas */
}


#produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria 4 colunas com tamanhos iguais */
  gap: 20px; /* Espaçamento entre os itens */
  margin-top: 20px;
  padding: 0 10px; /* Ajuste lateral */
}

.produto {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para os itens */
}

.produto img {
  width: 100%; /* Ajusta as imagens para preencher o espaço do item */
  height: auto; /* Mantém a proporção */
  border-radius: 10px}


  .produto button {
    display: inline-block; /* Garante que o botão seja tratado como um bloco em linha */
    white-space: nowrap; /* Impede quebra de linha no texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px 20px; /* Ajusta o espaço interno */
    font-size: 14px; /* Define um tamanho uniforme de fonte */
    border-radius: 10px; /* Bordas arredondadas */
    border: none; /* Remove borda padrão */
    background-color: #c8d128b9; /* Cor do botão */
    cursor: pointer; /* Muda o cursor ao passar */
    transition: transform 0.25s, background-color 0.25s; /* Adiciona transições suaves */
}

.produto button:hover {
    background-color: #aaa; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Leve ampliação ao passar */
}

.produto {
    text-align: center; /* Centraliza os elementos dentro do card do produto */
}
